#friends-display-link {
    background-color: #fafafa;
    padding: 15px 0px;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    margin-top: -10px;
}

#friends-display-link i {
    color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
    padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
    border-top: var(--main-border);
    margin-top: 10px;
    padding: 10px 0px;
}

.friends-screen__channel-header {
    margin-top: 2px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    color: var(--grey-color);
}

@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen {
    background-image: url("https://cdn.pixabay.com/photo/2019/05/07/20/24/lavender-4186957_1280.jpg");
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 115px;
    animation: hideSplashScreen 0.4s ease-in-out forwards;
    animation-delay: 2s;
    color: rgba(171, 125, 177, 0.952);
}
